@page
@model TimetrackerForProjects.Pages.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
}
<h1>@ViewData["Title"]</h1>

<p>History of all changes.</p>

<p>Thursday 13.01.22 - Added Changelog RazorPage.</p>
