@page
@model TimetrackerForProjects.Pages.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
}
<h1>@ViewData["Title"]</h1>

<h2>History of all changes.</h2>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Added Changelog RazorPage.
        <span class="badge badge-primary badge-pill">Thu 13.01.22</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Desgin Improvements for Startpage.
        <span class="badge badge-primary badge-pill">Fri 14.01.22</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Added floating Action Button.
        <span class="badge badge-primary badge-pill">Sat 15.01.22</span>
    </li>
</ul>

