@page
@model TimetrackerForProjects.Pages.ImprintModel
@{
    ViewData["Title"] = "Imprint";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Imprint.</p>

<p>Favicon - <a href="https://www.flaticon.com/free-icons/stamp" title="stamp icons">Stamp icons created by Freepik - Flaticon</a></p>
