@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card border-dark shadow-lg text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Records Overview</h5>
                <p class="card-text">Create, Edit, View and Delete Records.</p>
                <a asp-page="Records/Index" class="btn btn-dark">Records</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-dark shadow-lg text-white bg-secondary mb-3">
            <div class="card-body">
                <h5 class="card-title">Homepage</h5>
                <p class="card-text">Directly go to your Homepage</p>
                <a href="#" class="btn btn-dark">Homepage</a>
            </div>
        </div>
    </div>
</div>